/* =====================================================
1. 全局变量和基础设置
===================================================== */

/* ---------- 全局变量 ---------- */
/* 全局变量，在root中定义使得所有子元素都能访问*/
:root {
    --left-total: 0px;
    --right-total: 0px;
    --animation-duration: 0.2s;
}

/* ---------- 基础设置 ---------- */
/* 由于要使得map占据整个页面，需要将其父元素设置为100%高度，
又由于100%是相对单位，所以需要设置html和body的高度都为100% ，
margin为元素的外边距，padding为元素的内边距*/
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/*找到全局唯一的map元素，并设置其高度和宽度为100%，使得它能够占满整个页面*/
#map {
    height: 100%;
    width: 100%;
}

/* ---------- 通用样式 ---------- */
/*在sidebar中的通用标题样式*/
.sidebar h3 {
    display: flex;
    align-items: center;
    justify-content: center;

    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-family: sans-serif;
}

.detail h3 {
    display: flex;
    align-items: center;
    justify-content: center;

    color: rgb(255, 255, 255, 1);
    font-size: 20px;
    font-family: sans-serif;
}

.sidebar p {
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-family: sans-serif;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*
=====================================================
6. 地图标记样式
=====================================================
*/
.entity-marker-outer {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: rgb(233, 233, 233);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.555);
    transition: box-shadow 0.15s ease, background 0.15s ease;
}

.entity-marker-outer.selected {
    background: rgb(50, 120, 230);
    box-shadow: 0 0 12px rgba(50, 120, 230, 0.8);
}

.entity-marker-wrapper {
    display: flex;
    align-items: center;
    gap: 4px;
}

.entity-marker-background {
    width: 24px;
    height: 24px;

    background-size: cover;
    border-radius: 50%;

    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.entity-marker-label {
    white-space: nowrap;
    font-size: 15px;
    font-weight: bold;
    font-family: sans-serif;
    text-shadow:
        -1px -1px 2px rgba(0, 0, 0, 0.5),
        1px -1px 2px rgba(0, 0, 0, 0.5),
        -1px 1px 2px rgba(0, 0, 0, 0.5),
        1px 1px 2px rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

/*
7. 途径点标记样式
*/
.waypoint-marker-outer {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: rgb(251, 251, 251);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.585);
}

.waypoint-marker-inner {
    width: 8px;
    height: 8px;
    border-radius: 50%;
}