/* =====================================================
   timeline.css — 时间轴全部样式
   ===================================================== */

.timeline-container {
    position: fixed;
    bottom: 10px;

    left: calc(50% + (var(--left-total) - var(--right-total)) / 2);
    transform: translateX(-50%);

    width: calc((100vw - var(--left-total) - var(--right-total)) * 0.8);
    height: 50px;

    overflow: hidden;
    background: rgba(20, 20, 20, 0.8);
    border-radius: 20px;

    z-index: 1000;
    transition: all var(--animation-duration) ease;
}

.timeline-track {
    position: absolute;
    height: 100%;
    width: 5000px;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    cursor: grab;
}

.timeline-tick {
    width: 100px;
    height: 100%;

    border-left: 1px solid #555;
    box-sizing: border-box;
    flex: 0 0 100px;
    color: white;
    font-size: 12px;

    display: flex;
    align-items: flex-end;
    padding-bottom: 5px;
}

.timeline-cursor {
    position: absolute;
    left: 50%;
    top: 0;

    width: 2px;
    height: 100%;

    background: red;
    transform: translateX(-50%);
}